<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Registro por Autor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Formulario de Registro</h1>
    <form action="/registro" method="POST">
        <label>Documento de identidad/NIT: <input type="text" name="documento" required></label><br>
        <label>Nombre completo del autor: <input type="text" name="nombre_autor" required></label><br>
        <label>Sexo:
            <select name="sexo">
                {% for sexo in opciones.sexos %}
                    <option value="{{ sexo }}">{{ sexo }}</option>
                {% endfor %}
            </select>
        </label><br>

        <label>Perfil Institucional:
            <select name="perfil">
                {% for perfil in opciones.perfiles_institucionales %}
                    <option value="{{ perfil }}">{{ perfil }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>Rol en la obra</label>
            <select name="rol_obra">
                {% for rol_obra in opciones.rol_obra %}
                    <option value="{{ rol_obra }}">{{ rol_obra }}</option>
                {% endfor %}
            </select>
        <label>Nacionalidad:
            <select name="nacionalidad">
                {% for pais in opciones.nacionalidades %}
                    <option value="{{ pais }}">{{ pais }}</option>
                {% endfor %}
            </select>
        </label><br>

        <label>Correo: <input type="email" name="correo" required></label><br>

        <label>Nivel de formación:
            <select name="nivel_formacion">
                {% for nivel in opciones.niveles_formacion %}
                    <option value="{{ nivel }}">{{ nivel }}</option>
                {% endfor %}
            </select>
        </label><br>

        <label>Filiación: <input type="text" name="filiacion"></label><br>
        <label>País filiación: 
            <select name="pais_filiacion">
                {% for pais in opciones.pais_filiacion %}
                    <option value="{{ pais }}">{{ pais }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>¿Es investigador?:
            <select name="es_investigador">
                {% for opcion in opciones.es_investigador %}
                    <option value="{{ opcion }}">{{ opcion }}</option>
                {% endfor %}
            </select>
        </label><br>

        <label>SEDE:
            <select name="rectoria">
                {% for r in opciones.rectorias %}
                    <option value="{{ r }}">{{ r }}</option>
                {% endfor %}
            </select>
        </label><br>

        <label>Centro universitario: <input type="text" name="centro_universitario"></label><br>

        <label>Escuela / facultad:
            <select name="facultad">
                {% for f in opciones.facultades %}
                    <option value="{{ f }}">{{ f }}</option>
                {% endfor %}
            </select>
        </label><br>

        <label>Programa académico: <input type="text" name="programa"></label><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
